*{
	margin: 0;
	padding: 0;
}
.main{
	text-decoration: none;
	margin: 10%;
}
h2{
	text-align: center;
	font-size: 40px;
	background-color: #999393;
}
.md{
	font-size: 20px;
}
.button{
	color: blue;
	background-color:#999393; 
}
